# direnv
#   direnv란 이 디렉토리에 진입하면 자동으로 환경 변수를 설정해주는 도구입니다.
# 설치(Ubuntu, Zsh 기준):
#   sudo apt-get update && sudo apt-get install direnv
#   echo 'eval "$(direnv hook zsh)"' >> ~/.zshrc
#   source ~/.zshrc
# 사용법:
#   1. 터미널에서 해당 디렉토리로 이동하여 `direnv allow` 명령어를 실행합니다.
#   2. 디렉토리에 진입할 때마다 환경 변수가 자동으로 설정됩니다.
export AWS_PROFILE=morton
export AWS_REGION=ap-northeast-2